.App {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    margin-left: 15%;
    margin-right: 10%;
  }
  
.App-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 75%;
    margin-left: 15%;
    margin-right: 10%;
}

.Github {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1%;
    margin-bottom: .5%;
}

.field {
    display: flex;
    align-items: center;
}