.App {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;
  }
  
.App-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
